<mat-drawer-container class="example-container">

    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-nav-list>
            <a routerLink="/pages/dashboard" mat-list-item>Estudiantes</a>
            <a routerLink="/pages/maestros" mat-list-item>Maestros</a>
            <a routerLink="/pages/cursos" mat-list-item>Cursos</a>
            <a routerLink="/users/users" mat-list-item>Usuarios</a>
            <button (click)="Logout()" mat-button>Cerrar Sesión</button>

        </mat-nav-list>
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar (drawerToggle)="drawer.toggle()">
            <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
                aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
        </mat-toolbar>
        <p appLetraTamano20>Formulario de maestros</p>

        <form [formGroup]="maestrosForm" (ngSubmit)="onSubmit()" class="container">
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input formControlName="nombre" matInput placeholder="Placeholder">

                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Apellido</mat-label>
                        <input formControlName="apellido" matInput placeholder="Placeholder">
                    </mat-form-field>
                </div>
                <div class="col-md-3">

                    <button type="button" mat-flat-button [matMenuTriggerFor]="menu">Curso a dictar</button>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="onSelectCurso('Javascript')">Javascript</button>
                        <button mat-menu-item (click)="onSelectCurso('Angular')">Angular</button>
                        <button mat-menu-item (click)="onSelectCurso('React')">React</button>
                    </mat-menu>
                    <div *ngIf="cursoSeleccionado">
                        <p>Haz seleccionado el curso: <strong>{{ cursoSeleccionado }}</strong></p>
                    </div>
                </div>
            </div>
            <div (ngSubmit)="onSubmit()">
                <button mat-raised-button>Enviar</button>
            </div>
        </form>

        <p appLetraTamano20>Lista de maestros</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>ID</th>
                    <th>Curso</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let maestro of Maestros">
                    <td>

                        <input mat-raised-button *ngIf="maestro.editing" [value]="maestro.nombre || ''"
                            (input)="onInputChange(maestro, 'nombre', $event)" />
                        <span *ngIf="!maestro.editing">{{ maestro.nombre }}</span>
                    </td>
                    <td>

                        <input *ngIf="maestro.editing" [value]="maestro.apellido || ''"
                            (input)="onInputChange(maestro, 'apellido', $event)" />
                        <span *ngIf="!maestro.editing">{{ maestro.apellido }}</span>
                    </td>
                    <td>

                        <input *ngIf="maestro.editing" [value]="maestro.id || ''"
                            (input)="onInputChange(maestro, 'id', $event)" />
                        <span *ngIf="!maestro.editing">{{ maestro.id }}</span>
                    </td>

                    <td>

                        <input *ngIf="maestro.editing" [value]="maestro.curso || ''"
                            (input)="onInputChange(maestro, 'curso', $event)" />
                        <span *ngIf="!maestro.editing">{{ maestro.curso }}</span>
                    </td>

                    <td>
                        <button (click)="onDelete(maestro.id)" mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button (click)="onEdit(maestro)" class="edit">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>



                </tr>
            </tbody>
        </table>
    </div>

</mat-drawer-container>