<body>

    <mat-drawer-container class="example-container" class="sidenav">
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <p>MENU</p>
            @if (showFiller) {
            <p>Lorem, ipsum dolor sit amet consectetur.</p>
            }
            <button (click)="showFiller = !showFiller" mat-raised-button>
                Toggle extra text
            </button>
        </mat-drawer>

        <div class="example-sidenav-content">
            <button type="button" mat-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </mat-drawer-container>


    <p appLetraTamano20>Formulario de estudiantes</p>


    <form [formGroup]="estudiantesForm" (ngSubmit)="onSubmit()" class="container">
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input formControlName="nombre" matInput placeholder="Placeholder">

                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="fill">
                    <mat-label>Apellido</mat-label>
                    <input formControlName="apellido" matInput placeholder="Placeholder">
                </mat-form-field>
            </div>
        </div>
        <button mat-button>Enviar</button>
    </form>


    <p appLetraTamano20>Lista de estudiantes</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Apellido</th>
                <th>ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let estudiante of estudiantes">
                <td>
                    <!-- Editable si 'editing' es true -->
                    <input *ngIf="estudiante.editing" [value]="estudiante.nombre || ''"
                        (input)="onInputChange(estudiante, 'nombre', $event)" />
                    <span *ngIf="!estudiante.editing">{{ estudiante.nombre }}</span>
                </td>
                <td>
                    <!-- Editable si 'editing' es true -->
                    <input *ngIf="estudiante.editing" [value]="estudiante.apellido || ''"
                        (input)="onInputChange(estudiante, 'apellido', $event)" />
                    <span *ngIf="!estudiante.editing">{{ estudiante.apellido }}</span>
                </td>
                <td>
                    <!-- Editable si 'editing' es true -->
                    <input *ngIf="estudiante.editing" [value]="estudiante.id || ''"
                        (input)="onInputChange(estudiante, 'id', $event)" />
                    <span *ngIf="!estudiante.editing">{{ estudiante.id }}</span>
                </td>
                <td>
                    <button (click)="onDelete(estudiante.id)" mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button (click)="onEdit(estudiante)" class="edit">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>






</body>