form {
    margin: 30px;
}

body {
    background-color: #b0b0b0;
}

button {
    color: gray;
}

.sidenav {
    height: 100px;
}



.example-container {

    height: 100vh;

}

.example-sidenav-content {

    height: 100%;
}

.example-sidenav {
    padding: 20px;
}